analyze/condor_jobs/
analyze/combine/AFB_fits/signal_injection/condor/*/*.txt
*.pyc
*.swo
*.root
*.o
*.log
*.un~
*.d
*.pcm
*.so
*.json
*.tgz
*nfs*
*FileDump.py
*.db
*.aux
*.dvi
*.swp
*.pdf
*.png
*.gz
*.lhe
